.App {
  font-family: Arial;
  margin: auto;
  padding:"0%"
}

.App-header {
  background: rgb(189, 130, 201);
  background: radial-gradient(rgb(196, 159, 206),rgba(155, 97, 182, 0.947));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
 
}
.nav-link{
  color: rgb(166, 135, 189);
  
}

.nav{
  background-color: rgba(141, 81, 168, 0.947); 
  color:#fff;
}
.todocontainer{
width: 100%;
height: 100%;
}



.App-link {
  color: white;
}

.accountscontainer{
  width: 650px;
  height: 650px;
  position: absolute;
  border-radius: 30px;
  text-align: left; 
  overflow-y: scroll;
}

.list-group-item{
  color: black;
  font-size: medium;
}


.cardheading{
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  background-color: rgba(155, 97, 182, 0.947);
  border-radius: 30px;
}

.accountscard{
  width:100%;
  height:100%;
  border-radius: 30px;
}


